* {
  margin: 0px;
  padding: 0px;
}

body {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #5e5485;
}
h1 {
  text-align: center;
  font-size: 3rem;
}
form {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: wrap row;
  color: white;
  font-family: "Lucida Console", "Courier New", monospace;
}

input[type="text"],
input[type="password"],
input[type="number"] {
  width: 250px;
  height: 40px;
  margin: 30px;
  font-weight: 20px;
  font-size: 100%;
  border: none;
  padding: 8px;
  border-radius: 10px;
  box-shadow: 2px 2px 3px grey;
  font-family: "Lucida Console", "Courier New", monospace;
}
input[type="radio"] {
  margin: 30px;
  width: 30px;
  height: 30px;
  transform: translateY(10px);
}
input[type="reset"],
button#sub {
  width: 10em;
  height: 50px;
  color: white;
  font-weight: 20px;
  font-size: 150%;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 3px grey;
  background: #f2bf16;
}

span {
  width: 1000px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

div {
  width: 40vw;
  padding: 5vw;
}

.full {
  width: 100vw;
  margin: 0px;
  padding: 0px;
}
a {
  position: fixed;
  top: 10px;
  right: 10px;
  color: mediumpurple;
}
a:hover {
  animation: rotate 0.4s linear forwards;
}

@keyframes rotate {
  0% {
  }
  100% {
    transform: rotate(360deg);
  }
}

fieldset {
  padding: 30px;
  border-radius: 8px;
  border: 3px solid rgb(45, 19, 160);
}
