@import url("https://fonts.googleapis.com/css2?family=Changa:wght@500&family=Karla:wght@300&family=Oxygen&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #5e5485;
  text-align: center;
}
h1 {
  margin: 4rem;
  font-size: 2.5rem;
  text-align: center;
}

code {
  font-family: "Oxygen", sans-serif;
}
div.fourPad {
  font-size: 1.2rem;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 60vw;
  height: 60vh;
  margin: auto;
  border: darkturquoise 3px solid;
  border-radius: 1em;
  padding: 1em;

  overflow: hidden;
}
.btnContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: grid;
  place-items: center;
}
.msg {
  margin: 2rem;
  font-size: 150%;
  font-weight: bold;
  color: forestgreen;
  padding: 1rem;
  border: 2px solid rgb(0, 128, 122);
  border-radius: 5%;
  font-family: "Karla", sans-serif;
}
button {
  font-family: "Changa", sans-serif;
}
div.btns {
  width: 70vw;
  display: inline-flex;
  justify-content: space-around;
}
form input[type="text"],
form input[type="radio"],
form input[type="number"] {
  height: 2rem;
  font-size: 110%;
  border-radius: 5%;
  padding: 0.5rem;
  margin: 2rem;
  line-height: 100%;
  background: white;
  border: none;
  color: black;
}
form label {
  font-size: 120%;
  text-align: center;
  padding: 1.3rem;
  margin: 2rem;
  border: 2px gold solid;
  border-radius: 10%;
}
form label input[type="radio"] {
  margin: 0.3rem;
  padding: 0px;
  cursor: pointer;
}
form label input[type="radio"]:checked {
  background: rgb(0, 92, 122);
  color: white;
}
button,
form input[type="submit"] {
  width: 10em;
  height: 50px;
  color: rgb(56, 98, 110);
  font-weight: 20px;
  font-size: 150%;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 3px grey;
  background: #f2bf16;
  margin: 2rem;
}

button:hover,
form input:hover {
  cursor: pointer;
}
a {
  position: fixed;
  top: 10px;
  right: 10px;
  color: mediumpurple;
}
a:hover {
  animation: rotate 0.4s linear forwards;
}

div table {
  background: pink;
  border: 3px gold solid;
  border-radius: 0.1%;
  display: block;
  height: 40vh;
  overflow-y: scroll;
}
table thead {
  font-weight: bold;
  color: rebeccapurple;
  font-size: 1.3rem;
}
table td {
  width: 10rem;
  padding: 1.2rem;
}
@keyframes rotate {
  0% {
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes piecharthover {
  0% {
  }
  100% {
    opacity: 0.2;
    overflow: visible;
  }
}
@keyframes piehover {
  0% {
  }
  100% {
    rotation: 0deg;
    opacity: 1;
    font-size: 180%;
  }
}
