@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@300&family=Josefin+Sans:wght@200&family=Teko&family=Titillium+Web&display=swap");
.sign,
.log {
  width: 25vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: grey;
  font-family: "Titillium Web", sans-serif;
}
#signInButton,
#logInButton {
  width: 20vw;
  height: 5vw;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 3px grey;
  background: #508333;
  font-size: 2rem;
  font-family: "Titillium Web", sans-serif;
}
.line {
  height: 30rem;
  width: 0px;
  border: 2.5px solid cyan;
  margin: 50px;
}

.user {
  border-radius: 14%;
  border: 3px solid rgb(40, 73, 39);
  width: 40vw;
}

.nameUser {
  color: darkolivegreen;
  text-shadow: 2px;
  font-size: 2em;
  text-align: center;
  margin: 3rem;
}
