.sign,
.log {
  width: 25vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: grey;
  font-family: "Lucida Console", "Courier New", monospace;
}
#signInButton,
#logInButton {
  width: 20vw;
  height: 5vw;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 3px grey;
  background: #508333;
}
.line {
  height: 30rem;
  width: 0px;
  border: 2.5px solid cyan;
  margin: 50px;
}
