span button {
  border: 2px solid rgb(12, 38, 121);
  padding: 5px;
  border-radius: 5%;
  float: right;
  color: rgb(15, 12, 158);
  background: rgb(124, 135, 138);
  font-weight: bolder;
  text-align: center;
  width: 20em;
}
span {
  width: 100%;
  height: 7vh;
  margin: 1rem;
}
