* {
  margin: 0px;
  padding: 0px;
}

.hidden {
  display: none;
}

.visible {
  display: block;
  opacity: 1;
}

.disappear {
  opacity: 0;
}

.flexRow {
  display: flex;
  flex-flow: row nowrap;
  margin: auto;
  justify-content: space-around;
  align-items: center;
  /* favorite flexbox config basically for nav bar and other stuffs of similar requirements */
}
body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  overflow-y: auto;
}
input[reset],
button:hover {
  cursor: pointer;
  animation: shadow 0.2s linear forwards;
}
@keyframes shadow {
  0% {
  }
  100% {
    box-shadow: 5px 5px 20px rgb(66, 65, 65);
  }
}

header {
  display: block;
  width: -webkit-fill-available;
}

.theme-dark,
header.theme-light,
nav.theme-light,
footer.theme-light {
  background: rgb(49, 49, 49);
  color: rgb(148, 144, 144);
}

header .theme-dark,
nav .theme-dark,
footer .theme-dark {
  background: rgb(42, 51, 40);
  color: rgb(212, 212, 212);
}

.theme-light {
  background: white;
  color: black;
}

.theme-transparent {
  background: transparent;
  color: white;
}

.titleCard {
  height: 18vh;
  border: none;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  line-height: 18vh;
  padding-top: 1rem;
  color: lime;
}
nav {
  padding: 1vw;
  height: 8vh;
  border: none;
  line-height: 12vh;
}

nav ul,
footer ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row nowrap;
}

nav ul li {
  width: 8vw;
  height: 4vh;
  border-radius: 50% 50% 0% 0%;
  font-size: 1vw;
  font-weight: bold;
}

nav ul li a {
  color: lightyellow;
  text-decoration: none;
  text-align: center;
  display: block;
}
nav li a:hover {
  color: yellow;
}
nav li a:hover i {
  display: none;
}

nav li a:hover span.hidden {
  animation: showing 0.4s ease-in forwards;
  display: block;
}

@keyframes showing {
  0% {
    opacity: 0;
  }
  25% {
    transform: rotate(25deg);
  }
  40% {
    transform: rotate(-25deg);
  }
  60% {
    transform: rotate(25deg);
  }
  75% {
    transform: rotate(-25deg);
  }
  100% {
    display: block;
    opacity: 1;
    font-size: 1.2rem;
  }
}

main {
  margin: auto;
  display: flex;
  max-width: 90vw;
  justify-content: space-around;
  align-items: center;
  flex-flow: column wrap;
  min-height: 80vh;
}

footer i {
  color: lightgrey;
  font-size: 3rem;
  margin: 1vh;
}
footer div {
  text-align: center;
  background: rgb(42, 51, 40);
}

footer li :hover {
  animation: wiggle 0.5s linear forwards;
}

@keyframes wiggle {
  0% {
  }
  25% {
    transform: rotate(40deg);
  }
  40% {
    transform: rotate(-40deg);
  }
  60% {
    transform: rotate(40deg);
  }
  75% {
    transform: rotate(-40deg);
  }
  100% {
    color: rgb(72, 85, 160);
  }
}
